img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="left"] {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

img[alt*="right"] {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

/* Clase para cuadrar y centrar la imagen */
img[alt*="square"] {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

img[alt*="br-0"] {
  border-radius: 0;
}

img[alt*="br-1"] {
  border-radius: 1px;
}

img[alt*="br-2"] {
  border-radius: 2px;
}

img[alt*="br-3"] {
  border-radius: 3px;
}

img[alt*="br-4"] {
  border-radius: 4px;
}

img[alt*="br-5"] {
  border-radius: 5px;
}

img[alt*="br-6"] {
  border-radius: 6px;
}

img[alt*="br-7"] {
  border-radius: 7px;
}